[submodule "third-party/OpenXR-SDK"]
	path = third-party/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "third-party/OpenXR-SDK-Source"]
	path = third-party/OpenXR-SDK-Source
	url = https://github.com/KhronosGroup/OpenXR-SDK-Source.git
[submodule "third-party/Vulkan-Headers"]
	path = third-party/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
